.perfil-usuario-avatar {
    display: flex;
    width: 130px;
    height: 130px;
    border: 7px solid #f2f2f2;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
}

/**/

.perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
