.NavProductoInfo {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 0px 90px 0px 20px;
}

.imagenPro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.nombreProductoContent {
    display: block;
    width: 250px;
}

#NombreProducto {
    width: 1000px;
    background-color: #fff;
}

.InformacionPro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0px 20px;
    width: 100%;
}

.tipoProContent {
    display: flex;
    justify-content: space-between;
}

.DescripcionProContenedor{
    display: block;
}

#DescripcionPro{
    width: 100%;
}

.selectBonito {
    margin-left: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

.selectBonito::-ms-expand {
    display: none;
}

.selectBonito {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: 0.25em;
}
.selectBonito::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.selectBonito:hover::after {
    color: #01a7c2;
}

.InformacionGeneral{
    display: flex;
    flex-wrap: wrap;
    
}

.PrecioVentaContenedor{
    display: block;
}

#PrecioVenta{
    width: 100%;
}

.MarcaContenedor{
    width: 100%;
    display: block;
}

.MarcaContenedor .selectBonito{
    margin: 0;
}

.ExistenciasContenedor{
    display: block;
}

#ExistenciasPro{
    width: 100%;
}